
* {
    box-sizing: border-box;
}

html, body {
    color: #fff;
    height: 100%;
    font: 12px/18px "Raleway-Regular", sans-serif;
    scrollbar-color: #cbafff #1c132c;
    scrollbar-width: thin;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1c132c;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #cbafff;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #cbafff;
}
::-webkit-scrollbar-thumb:active {
    background: #cbafff;
}
::-webkit-scrollbar-track {
    background: #1c132c;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #1c132c;
}
::-webkit-scrollbar-track:active {
    background: #1c132c;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}

.bg-image {
    z-index: -1;
    position: fixed;
    display: block;
    background: url(../images/back.jpg) no-repeat #1c132c;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    min-height: 1280px;
    width: 100%;
}

.cent-ly {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin: auto;
    width: 70%;
    height: 100%;
}

@media only screen and (orientation: landscape) {
    .cent-ly {
        width: 70%;
    }
}

@media only screen and (orientation: portrait) {
    .cent-ly {
        width: 98%;
    }
}

.cent-ly {
    padding-top: 10px;
    line-height: 1.5;
    max-width: 500px;
}

*::selection {
    color: #fff;
    background: #21152b;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.text-main {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 70px;
    background: linear-gradient(to left, #b58dff, #cbafff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-sub {
    font-family: 'Raleway-Light', sans-serif;
    font-size: 20px;
    background: linear-gradient(to left, #b58dff, #d6bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
    color: #cbafff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Raleway-Bold', sans-serif;
    color: #fff;
    font-size: 25px;
}

.sub-title {
    font-family: 'Raleway-Bold', sans-serif;
    color: #fff;
    font-size: 20px;
}

.line {
    height: 0.4px;
    width: 30%;
    background: linear-gradient(to left, #b58dff, #cbafff);
}



.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.55);
}
.github a{
    transform: translate(60px,17px);
    -webkit-transform: translate(60px,17px); /** Chrome & Safari **/
    -o-transform: translate(60px,17px); /** Opera **/
    -moz-transform: translate(60px,17px); /** Firefox **/
    text-align: center;
}
.telegram a{
    transform: translate(50px,17px);
    -webkit-transform: translate(50px,17px); /** Chrome & Safari **/
    -o-transform: translate(50px,17px); /** Opera **/
    -moz-transform: translate(50px,17px); /** Firefox **/
    text-align: center;
}
.github a:hover {
  transition: 1s;
  background: #191919; color: rgba(205, 214, 219, 1);
  font-size: 40px;
}
.telegram a:hover {
  transition: 1s;
  background: SteelBlue; color: rgba(205, 214, 219, 1);
  font-size: 40px;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    cursor: default;
    border-color: rgba(33, 21, 43, 0.2);  
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color:rgba(33, 21, 43, 0.2);
    text-align: center;
}

input:focus {
    border: 0.6px solid #cbafff;
}

.popup {
    display: block;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    width: 90%;
    overflow: auto;
    margin: 2%;
    padding: 1%;
    background-color:rgba(33, 21, 43, 0.5);
    font-size: 11px;
    border-radius: 10px;
}
